<div id="footer">
  <div class="container">
    <div class="content">
      <div class="links">
        <ul>
          <li>
            <a href="https://plus.google.com/115199279159361214026/posts" target="_blank">Google+</a>
          </li>
          <li>
            <a href="https://www.facebook.com/pages/SimpleCV/150136128401869" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/Simple_CV" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://github.com/sightmachine/simplecv" target="_blank">Github</a>
          </li>
          <li>
            <a href="help.simplecv.org/" target="_blank">Help</a>
          </li>
        </ul>
      </div>
      <div class="copyright">
        Copyright <a href="http://sightmachine.com/">Sight Machine</a>, Inc, SimpleCV is a trademark of Sight Machine, Inc.
      </div>
      <div class="footer-logo">
        <a href="http://sightmachine.com/"><img src="{{ "/assets/smlogo.png" | prepend: site.baseurl }}"/></a>
      </div>
    </div>
  </div>
</div>
